
<div class="header-container">
  <div class="title">
    <h1 class="Movie-Center"><i class="fa-solid fa-film"></i> Movie Center</h1>
  </div>
  <div class="search-bar">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="What are you lookin' for?" aria-label="Search">
        <button class="btn btn-info" type="submit">Search</button>
     </form>
  </div>
</div>
<%# here is where the headers are closed %>
<div class="buttons-containers">
  <div class="button">
<a class="btn btn-primary" href="/">home</a>
    <a href="lists" class ="btn btn-dark">See all lists</a>
  </div>
</div>
<%# here is where the buttons are closed %>
<div class="container">
  <h1><%= @list.name %></h1>

  <%= link_to "back to all lists", lists_path, class: "btn btn-primary" %>
  <%= link_to "add a movie to the list", new_list_path(@list), class: "btn btn-success"%>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=bookmark.movie.poster_url%>)">
        <%= bookmark.movie.title %>
      </div>
    <% end %>
  </div>
</div>
